apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: afga-data-pvc
  namespace: afga
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: managed-csi
